* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1c2c, #38fd9a);
    color: #fff;
}

/* Navbar */
.navbar {
    height: 120px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    width: 100px;
    height: auto;
}

.logo-box {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-btn {
    padding: 10px 22px;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #38fd9a;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover {
    background: #38fd9a;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 10px #38fd9a,
                0 0 20px #38fd9a,
                0 0 30px #38fd9a;
}

/* Search Bar */
.search-box {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #38fd9a;
    border-radius: 30px;
    padding: 5px 12px;
    gap: 10px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: #b4ffd9;
    font-size: 16px;
    width: 160px;
}

.search-box button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #38fd9a;
    padding: 5px 10px;
}
.search-box input::placeholder {
    color: #ffffff;
}
/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}

/* Features Box */
.features-box {
    width: 70%;
    max-width: 900px;
    padding: 40px;
    margin: auto;
    background: rgba(255, 255, 255, 0.06);
    border: 2px solid #38fd9a;
    border-radius: 20px;
    box-shadow: 0 0 20px #38fd9a, 0 0 40px #38fd9a;
    backdrop-filter: blur(10px);
    text-align: center;
}

.features-box h2 {
    font-size: 35px;
    color: #38fd9a;
    margin-bottom: 25px;
}

.features-box ul {
    list-style: none;
}

.features-box li {
    font-size: 20px;
    margin: 12px 0;
    color: #eafff6;
}
